<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <style>
      table {
        font-size: 22px;
        text-align:center;
      }
    </style>
  </head>
  <body>
    <h1>Student Details</h1>
    <table border="" cellspacing="8" cellpadding="10">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for data in details %}
        <tr>
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.location}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
